---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kavita
  namespace: manga
spec:
  interval: 30m
  chart:
    spec:
      chart: kavita
      version: ">= 0.1.0 < 0.2"
      sourceRef:
        kind: HelmRepository
        name: homelab
        namespace: flux-system
      interval: 1m
  values:
    podSecurityContext:
      fsGroup: ${groupId}
    securityContext:
      runAsUser: ${userId}
      runAsGroup: ${groupId}
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
      privileged: false
    persistence:
      config:
        enabled: true
        size: 5Gi
        storageClass: rook-ceph-retain
        labels:
          velero-backup: "true"
        annotations:
          velero.io/csi-volumesnapshot-class: rook-ceph-snapshot
      data:
        enabled: true
        claimName: manga-library
    tz: ${timezone}
    ingress:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: homelab-internal
      hosts:
        - host: kavita.${serviceDomain}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: immich-tls
          hosts:
            - kavita.${serviceDomain}
