---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tranga
  namespace: manga
spec:
  interval: 30m
  chart:
    spec:
      chart: tranga
      version: ">= 0.1.0 < 0.2"
      sourceRef:
        kind: HelmRepository
        name: homelab
        namespace: flux-system
      interval: 1m
  values:
    podSecurityContext:
      fsGroup: 65532
    persistence:
      library:
        enabled: true
        claimName: manga-library
      config:
        enabled: true
        size: 1Gi
        storageClass: rook-ceph-retain
        labels:
          velero-backup: "true"
        annotations:
          velero.io/csi-volumesnapshot-class: rook-ceph-snapshot
    api:
      image:
        tag: latest
      securityContext:
        runAsUser: ${userId}
        runAsGroup: ${groupId}
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        seccompProfile:
          type: RuntimeDefault
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: true
        privileged: false
    web:
      image:
        tag: latest
      securityContext:
        runAsUser: ${userId}
        runAsGroup: ${groupId}
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        seccompProfile:
          type: RuntimeDefault
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: true
        privileged: false
    postgresql:
      hostname: pg00-rw.database
      databaseName: tranga
      username: tranga
      password:
        name: tranga-pg-creds
        key: password
