# Ansible
.ansible
ansible/secrets.yaml

# Butane
*.butane.yaml
*.ignition.json

# aspell
*.bak

# Terraform/Tofu
*.tfvars
terraform.tfstate*
.terraform

# talos
kubernetes/**/.secrets
kubernetes/**/charts
