---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich
spec:
  interval: 30m
  chart:
    spec:
      chart: immich
      version: ">= 0.2.0 < 0.3"
      sourceRef:
        kind: HelmRepository
        name: homelab
        namespace: flux-system
      interval: 1m
  values:
    image:
      tag: v2.5.6

    securityContext:
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: ${userId}
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault

    ingress:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: homelab-internal
      hosts:
        - host: immich.${serviceDomain}
          paths:
            - path: /
              pathType: Prefix
        - host: photos.${mainDomain}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: immich-tls-int
          hosts:
            - immich.${serviceDomain}
        - secretName: immich-tls-ext
          hosts:
            - photos.${mainDomain}

    persistence:
      enabled: true
      storageClassName: rook-ceph-retain
      upload:
        enabled: true
        existingClaim:
          name: immich-upload
      library:
        enabled: true
        existingClaim:
          name: immich-library

    volumes:
      - name: upload
        persistentVolumeClaim:
          claimName: immich-upload
      - name: library
        persistentVolumeClaim:
          claimName: immich-library

    volumeMounts:
      - name: upload
        mountPath: /usr/src/app/upload
      - name: library
        mountPath: /usr/src/app/library

    timezone: America/Toronto

    ai:
      image:
        tag: v2.5.6
      runtimeClass:
        enabled: true
        name: nvidia
      resources:
        limits:
          nvidia.com/gpu: 1
      podSecurityContext:
        fsGroup: ${groupId}
      securityContext:
        capabilities:
          drop:
          - ALL
        readOnlyRootFilesystem: false
        runAsNonRoot: true
        runAsUser: ${userId}
        allowPrivilegeEscalation: false
        seccompProfile:
          type: RuntimeDefault
      service:
        type: ClusterIP
        port: 3003

    microservices:
      runtimeClass:
        enabled: true
        name: nvidia
      resources:
        limits:
          nvidia.com/gpu: 1

    ipp:
      enabled: true
      image:
        repository: alangrainger/immich-public-proxy
        pullPolicy: IfNotPresent
        tag: "1.15.1"
      podSecurityContext:
        fsGroup: ${groupId}
      securityContext:
        capabilities:
          drop:
          - ALL
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: ${userId}
        allowPrivilegeEscalation: false
        seccompProfile:
          type: RuntimeDefault
      publicBaseUrl:
        enabled: true
        url: https://photos.enoxi.me
      config:
        enabled: true
        singleImageGallery: true
        downloadOriginalPhoto: true
        allowDownloadAll: 1

    postgresql:
      hostname: immich-pg-rw
      username: immich
      databaseName: immich
      password:
        name: immich
        key: pg_password

    redis:
      hostname: immich-valkey
      username: immich
      password:
        name: immich
        key: redis_password
