---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
  namespace: database
spec:
  interval: 5m
  chart:
    spec:
      chart: cloudnative-pg
      version: ">=0.26.1 <0.27.0"
      sourceRef:
        kind: HelmRepository
        name: cnpg
        namespace: database
      interval: 1m
  values:
    config:
      clusterWide: true
      create: true
    crds:
      create: true
    monitoring:
      grafanaDashboard:
        create: true
      podMonitorEnabled: true
