---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: two-times-a-day
  namespace: harbor
spec:
  suspend: false
  immediate: true
  schedule: "0 0 0,12 * * *"
  cluster:
    name: harbor-pg
  backupOwnerReference: self
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: garage-home-cnpg
  namespace: harbor
spec:
  configuration:
    destinationPath: s3://k8s00-cnpg-backup
    s3Credentials:
      accessKeyId:
        name: cnpg-harbor-pg-backup-creds
        key: ACCESS_KEY_ID
      secretAccessKey:
        name: cnpg-harbor-pg-backup-creds
        key: ACCESS_SECRET_KEY
      region:
        name: cnpg-harbor-pg-backup-creds
        key: region
    endpointURL: http://garage.garage:3900
    wal:
      compression: gzip
    data:
      compression: gzip
  retentionPolicy: 30d
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: harbor-pg
  namespace: harbor
spec:
  description: Main database for harbor
  # inheritedMetadata:
  #   labels:
  #   annotations:
  imageCatalogRef:
    apiGroup: postgresql.cnpg.io
    kind: ClusterImageCatalog
    name: postgresql-system-trixie
    major: 18
  postgresUID: 26
  postgresGID: 26
  instances: 3
  bootstrap:
    initdb:
      database: registry
      owner: harbor
      secret:
        name: harbor-postgres-credentials
      dataChecksums: true
      encoding: 'UTF8'
  enableSuperuserAccess: true
  storage:
    size: 5Gi
    storageClass: rook-ceph-retain
  walStorage:
    size: 5Gi
    storageClass: rook-ceph-retain
  resources: {}
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover
  monitoring:
    disableDefaultQueries: false
  enablePDB: true
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      enabled: true
      isWALArchiver: true
      parameters:
        barmanObjectName: garage-home-cnpg
