clusterName: k8s00
endpoint: https://endpoint.${subdomain}:6443
kubernetesVersion: "1.34.4"
talosVersion: v1.12.4
nodes:
  - hostname: cp00.${subdomain}
    ipAddress: cp00.${subdomain}
    controlPlane: true
    installDisk: /dev/sda
  - hostname: cp01.${subdomain}
    ipAddress: cp01.${subdomain}
    controlPlane: true
    installDisk: /dev/sda
  - hostname: cp02.${subdomain}
    ipAddress: cp02.${subdomain}
    controlPlane: true
    installDisk: /dev/sda
  - hostname: wk00.${subdomain}
    ipAddress: wk00.${subdomain}
    controlPlane: false
    installDisk: /dev/nvme0n1
  - hostname: wk01.${subdomain}
    ipAddress: wk01.${subdomain}
    controlPlane: false
    installDisk: /dev/nvme0n1
  - hostname: wk02.${subdomain}
    ipAddress: wk02.${subdomain}
    controlPlane: false
    installDisk: /dev/nvme0n1
  - hostname: wk03.${subdomain}
    ipAddress: wk03.${subdomain}
    controlPlane: false
    installDisk: /dev/nvme1n1
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/nvidia-open-gpu-kernel-modules-production
            - siderolabs/nvidia-container-toolkit-production
            - siderolabs/amd-ucode
    kernelModules:
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
    patches:
      - |-
        machine:
          sysctls:
            net.core.bpf_jit_harden: 1
    volumes:
      - name: EPHEMERAL
        provisioning:
          maxSize: 150GB
          grow: false
    networkInterfaces:
      - interface: enp5s0
        dhcp: false
      - interface: br0
        # routes:
        #   - network: 0.0.0.0/0
        #     gateway: "${gateway}"
        #   - network: ::/0
        #     gateway: "${ipv6_gateway}"
        bridge:
          interfaces:
            - enp5s0
          stp:
            enabled: true
          vlan:
            vlanFiltering: true
        dhcp: true
        dhcpOptions:
          ipv4: true
          # ipv6: true
  # - hostname: wk04.${subdomain}
  #   ipAddress: wk04.${subdomain}
  #   controlPlane: false
  #   installDisk:
  #   schematic:
  #     customization:
  #       systemExtensions:
  #         officialExtensions:
  #           - siderolabs/nvidia-open-gpu-kernel-modules-production
  #           - siderolabs/nvidia-container-toolkit-production
  #           - siderolabs/intel-ucode
  #   kernelModules:
  #     - name: nvidia
  #     - name: nvidia_uvm
  #     - name: nvidia_drm
  #     - name: nvidia_modeset
  #   patches:
  #     - |-
  #       machine:
  #         sysctls:
  #           net.core.bpf_jit_harden: 1
  # - hostname: wk05.${subdomain}
  #   ipAddress: wk05.${subdomain}
  #   controlPlane: false
  #   installDisk: /dev/DISK
  # - hostname: wk06.${subdomain}
  #   ipAddress: wk06.${subdomain}
  #   controlPlane: false
  #   installDisk: /dev/DISK
  # - hostname: wk07.${subdomain}
  #   ipAddress: wk07.${subdomain}
  #   controlPlane: false
  #   installDisk: /dev/DISK
cniConfig:
  name: none
patches:
  - |-
    cluster:
      proxy:
        disabled: true
      discovery:
        enabled: false
        registries:
          service:
            disabled: false
      controllerManager:
        extraArgs:
          # For prometheus
          bind-address: 0.0.0.0
      scheduler:
        extraArgs:
          # For prometheus
          bind-address: 0.0.0.0
  - |-
    machine:
      kubelet:
        extraArgs:
          rotate-server-certificates: true
        nodeIP:
          validSubnets:
            - "${cidr}"
            - "${ipv6_cidr}"
  - |-
    machine:
      features:
        hostDNS:
          enabled: true
          forwardKubeDNSToHost: false
        rbac: true
controlPlane:
  patches:
    - |-
      cluster:
        apiServer:
          admissionControl:
            - name: PodSecurity
              configuration:
                exemptions:
                  namespaces:
                    - admin
                    - database
                    - flux-system
                    - monitoring
                    - nvidia-gpu
                    - rook-ceph
    - |-
      cluster:
        etcd:
          extraArgs:
            # for prometheus
            listen-metrics-urls: http://0.0.0.0:2381
          advertisedSubnets:
            - "${cidr}"
            - "${ipv6_cidr}"
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
  networkInterfaces:
      - interface: enp1s0
        dhcp: false
      - interface: br0
        # routes:
        #   - network: 0.0.0.0/0
        #     gateway: "${gateway}"
        #   - network: ::/0
        #     gateway: "${ipv6_gateway}"
        bridge:
          interfaces:
            - enp1s0
          stp:
            enabled: true
          # vlan:
          #   vlanFiltering: true
        dhcp: true
        dhcpOptions:
          ipv4: true
          # ipv6: true
worker:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/amdgpu
          - siderolabs/amd-ucode
  networkInterfaces:
      - interface: enp1s0
        dhcp: false
      - interface: br0
        # routes:
        #   - network: 0.0.0.0/0
        #     gateway: "${gateway}"
        #   - network: ::/0
        #     gateway: "${ipv6_gateway}"
        bridge:
          interfaces:
            - enp1s0
          stp:
            enabled: true
          vlan:
            vlanFiltering: true
        dhcp: true
        dhcpOptions:
          ipv4: true
          # ipv6: true
