---
variant: flatcar
version: 1.0.0
storage:
  files:
    - path: /etc/hostname
      contents:
        inline: {{ inventory_hostname }}
      mode: 0644
      user:
        name: root
      group:
        name: root
    - path: /etc/hosts
      append:
        - inline: |
            127.0.0.1 {{ inventory_hostname }}.{{ mgmt_domain }} {{ inventory_hostname }}
            ::1 {{ inventory_hostname }}.{{ mgmt_domain }} {{ inventory_hostname }}
      mode: 0644
      user:
        name: root
      group:
        name: root
    - path: /etc/systemd/networkd.conf.d/ipv6-privacy-extensions.conf
      contents:
        inline: |
          [Network]
          IPv6PrivacyExtensions=yes
    - path: /etc/systemd/network/10-enp0s20f0u1.network
      contents:
        inline: |
          [Match]
          Name=enp0s20f0u1

          [Network]
          Address=192.168.0.5/24
          DNS=192.168.0.1
          Gateway=192.168.0.1
          DHCP=ipv6
          IPv6SendRA=yes
          DHCPv6PrefixDelegation=yes
          VLAN=enp0s20f0u1.30
          VLAN=enp0s20f0u1.40
          VLAN=enp0s20f0u1.70
      mode: 0644
      user:
        name: root
      group:
        name: root
    - path: /etc/systemd/network/20-enp0s20f0u1.30.netdev
      contents:
        inline: |
          [NetDev]
          Name=enp0s20f0u1.30
          Kind=vlan
          IPv6SendRA=yes
          DHCPv6PrefixDelegation=yes

          [VLAN]
          Id=30
      mode: 0644
      user:
        name: root
      group:
        name: root
    - path: /etc/systemd/network/30-enp0s20f0u1.40.netdev
      contents:
        inline: |
          [NetDev]
          Name=enp0s20f0u1.40
          Kind=vlan

          [VLAN]
          Id=40
      mode: 0644
      user:
        name: root
      group:
        name: root
    - path: /etc/systemd/network/40-enp0s20f0u1.70.netdev
      contents:
        inline: |
          [NetDev]
          Name=enp0s20f0u1.70
          Kind=vlan

          [VLAN]
          Id=70
      mode: 0644
      user:
        name: root
      group:
        name: root
    - path: /etc/systemd/network/50-enp0s20f0u1.30.network
      contents:
        inline: |
          [Match]
          Name=enp0s20f0u1.30

          [Network]
          Address=192.168.30.5/24
          DNS=192.168.30.1
          Gateway=192.168.30.1
          DHCP=ipv6
          IPv6SendRA=yes
          DHCPv6PrefixDelegation=yes
      mode: 0644
      user:
        name: root
      group:
        name: root
    - path: /etc/systemd/network/60-enp0s20f0u1.40.network
      contents:
        inline: |
          [Match]
          Name=enp0s20f0u1.40

          [Network]
          Address=192.168.40.5/24
          DNS=192.168.40.1
          Gateway=192.168.40.1
          DHCP=ipv6
          IPv6SendRA=yes
          DHCPv6PrefixDelegation=yes
      mode: 0644
      user:
        name: root
      group:
        name: root
    - path: /etc/systemd/network/70-enp0s20f0u1.70.network
      contents:
        inline: |
          [Match]
          Name=enp0s20f0u1.70

          [Network]
          Address=192.168.70.5/24
          DNS=192.168.70.1
          Gateway=192.168.70.1
          DHCP=ipv6
          IPv6SendRA=yes
          DHCPv6PrefixDelegation=yes
      mode: 0644
      user:
        name: root
      group:
        name: root
    # Install python
    - path: /etc/flatcar/enabled-sysext.conf
      contents:
        inline: |
          python
      mode: 0644
      user:
        name: root
      group:
        name: root
    # sudo config
    - path: /etc/sudoers.d/{{ admin_username }}
      contents:
        inline: |
          {{ admin_username }} ALL=(ALL) ALL
    - path: /etc/sudoers.d/ansible
      contents:
        inline: |
          ansible ALL=(ALL) NOPASSWD: ALL
    # Add homelab root certificate
    - path: /etc/ssl/certs/homelab.pem
      contents:
        inline: |
          {{ root_ca_certificate | indent(width=10)}}
      mode: 0644
      user:
        name: root
      group:
        name: root
    - path: /etc/ssh/sshd_config.d/custom.conf
      overwrite: true
      mode: 0600
      contents:
        inline: |
          PermitRootLogin no
          AllowUsers ansible {{ admin_username }}
    # hardening: Disabling usb
    - path: /etc/modprobe.d/blacklist.conf
      mode: 0644
      contents:
        inline: |
          blacklist usb-storage

passwd:
  users:
    - name: core
      shell: /sbin/nologin
    - name: {{ admin_username }}
      ssh_authorized_keys:
        - {{ admin_ssh_pub_key }}
      primary_group: {{ admin_username }}
      groups:
        - sudo
        - wheel
        - docker
      shell: /usr/bin/bash
      password_hash: "{{ admin_password | password_hash('sha512') }}"
    - name: ansible
      ssh_authorized_keys:
        - {{ ansible_ssh_pub_key }}
      primary_group: ansible
      groups:
        - sudo
        - wheel
        - docker
      shell: /usr/bin/bash
  groups:
    - name: {{ admin_username }}
    - name: ansible
