apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # multus
  - https://raw.githubusercontent.com/k8snetworkplumbingwg/multus-cni/master/deployments/multus-daemonset-thick.yml
